<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addAdmin" id="form" method="post" enctype="multipart/form-data" style="text-align: center; font-size: 24px;">
        <input type="text" name="name" id="" placeholder="Item Name" required><br>
        <input type="text" name="disc" id="" placeholder="Item Discription" required><br>
        <input type="number" name='left' placeholder="Total number of items" required min="1"><br>
        <input type="number" name="price" id=""  placeholder="Item Price" required required min="1"><br>
        <input type="file" name="img" id=""><br>
        <!-- <input type="file" name="img" id="" accept="image/png, image/gif, image/jpeg"><br> -->
        <input type="submit" value="submit">
    </form>
    <!-- <script src="../../admin.js"></script> -->
</body>
</html>